.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }